<div class="courses_table">
    <form method="POST" action="/courses/handle-form" id="formContainer" class="container"> 
        <h3 class="mt-4">Danh Sách Khóa Học</h3>
        <a href="/me/trash/courses">Khóa Học Đã Xóa ({{count}})</a>

        <div class="option mt-2 d-flex align-items-center ">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="selectedAll">
              <label class="form-check-label" for="selectedAll">Chọn tất cả</label>
             </div>

          <select id="optionSelected" name="action" class="form-control" style="width: 300px; margin: 0 16px;" >
            <option value="">-- Chọn --</option>
            <option value="delete">Xóa</option>
          </select>

          <button type="submit" class="btn btn-primary btnAction disabled">Thực hiện</button>
        </div>
        
        <table class="table mt-4">
            <thead>
                <tr>
                <th scope="col">#</th>
                 <th scope="col">STT</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Video Id</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                 {{#each courses}}
                  
                    <tr>
                        <th>
                           <div class="form-check">
                              <input value="{{this._id}}" type="checkbox" class="form-check-input selectedItem" name="selectedItem[]">
                            
                            </div>
                        </th>
                        <th scope="row">{{sum @index 1}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.videoId}}</td>
                        <td>{{this.createdAt}}</td>
                        <td>
                            <a href="" data-whatever="{{this._id}}" class="btn" data-toggle="modal" data-target="#exampleModal">Xóa</a>
                            <a href="/courses/{{this._id}}/edit" class="btn">Cập nhật</a>
                            
                        </td>
                    </tr>
                 {{/each}}
            </tbody>
        </table>
    </form>
</div>


<div id="exampleModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa Khóa Học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc muốn xóa không?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" id="form_delete"></form>
<script>
    var id;
    window.addEventListener('DOMContentLoaded', (event) => {
            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                id = button.data('whatever') // Extract info from data-* attributes
                console.log(id);
            })

            $( "#btn-delete-course" ).click(function() {
                $('#form_delete').attr('action', `/courses/${id}?_method=DELETE`);
                $( "#form_delete" ).submit();
            });
            

            //click vao chon tat ca
             $( "#selectedAll" ).change(function() {
                  const check = $('#selectedAll').prop('checked');
               
                    $('.selectedItem').prop( "checked", check );

                    //handle disabled in button click
                    if(check){
                      $('.btnAction').removeClass("disabled")
                    }
                    else{
                       $('.btnAction').addClass("disabled");
                    }
                  

            });

            //bo di 1 tich trong checkbox
             $('.selectedItem').change(function() {
                
                  if($('.selectedItem').length > $('table input[type=checkbox]:checked').length){
                      
                      $('#selectedAll').prop( "checked", false );
                  }else{
                     $('#selectedAll').prop( "checked", true );
                  }

                  //neu co 1 checkbox -> remove disabled class
                  if($('table input[type=checkbox]:checked').length > 0){
                     $('.btnAction').removeClass("disabled")
                  }else{
                     $('.btnAction').addClass("disabled")
                  }
                 
             });

            //click button thuc hien
             $('.btnAction').click(function(e) {
                const option = $("#optionSelected").val();
                //kiem tra da tich vao checkbox chua
                if($('table input[type=checkbox]:checked').length===0){
                  e.preventDefault();

                  return;
                }else if(!option){
                   e.preventDefault();
                   alert("Please choise a option in select")
                  return;
                }
                
                
                const list = $('table input[type=checkbox]:checked').map(function(i, e) { 
                    return $(e).val(); 
                });
               
                
             })
    });

   

    
</script>